.navbar {
    color: #fff;
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 0;
    .logo {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
    }
    .container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .email {
        display: flex;
        gap: 8px;
        color: #fff;
        align-items: center;
    }
    .languages {
        padding-left: 16px;
        margin-left: 16px;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        a {
            display: inline-block;
            padding: 8px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            position: relative;
            &:hover,
            &.current {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    display: inline-block;
                }
            }
        }
    }
    .menu {
        margin-top: 24px;
        display: flex;
        gap: 24px;
        a {
            display: flex;
            gap: 8px;
            padding: 8px 0;
            align-items: center;
            color: currentColor;
            &.router-link-active.router-link-exact-active{
                text-decoration: underline;
            }
        }
    }
    &.alt{
        background-color: $blue;
        position: sticky;
        width: 100%;
        left: 0;
        top: 0;
    }
    .side{
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100%;
        height: 100vh;
        background-color: $blue;
        transition: .2s linear;
        opacity: 0.8;
        &__box{
            padding: 20px;
        }
        &.active{
            right: 0;
            opacity: 1;
        }
        &__close{
            display: block;
            margin-left: auto;
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .item{
                &__box{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 5px 5px;
                    color: #fff;
                }
            }
        }
        &__languages{
            border-top: 1px solid #fff;
            gap: 20px;
            a{
                color: #fff;
                &.current{
                    text-decoration: underline;
                }
            }
        }
    }
    .button{
        display: none;
    }

    @media (max-width: 600px) {
        background-color: $blue;
        position: sticky;
        .menu, .info{
            display: none;
        }
        .logo{
            font-size: 32px;
        }
        .container{
            padding: 10px 15px;
            align-items: center;
        }
        .button{
            display: block;
        }
    }
}
