.publish {
  margin-bottom: 30px;
  .poster {
    aspect-ratio: 4/3;
    margin-bottom: 24px;
    width: 100%;
  }
  .date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
  }
  .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .text {
    font-size: 16px;
    line-height: 140%;
    font-family: 'Roboto Slab';
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    color: #c2b7bd;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.2em;
    & > p,
    & > p span,
    & > * {
      color: #c2b7bd !important;
    }
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .category {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 24px;
  }
  .link {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #000;
    font-size: 12px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  &.alt {
    display: flex;
    gap: 15px;
    .poster {
      width: 200px;
      max-width: 200px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 600px) {
  .publish {
    margin-bottom: 20px;
    img {
      width: 50px;
      margin-bottom: 0px;
    }
    .title {
      font-size: 18px;
    }
    .text p,
    .text {
      font-size: 12px;
      text-align: justify;
    }
    .category {
      margin-top: 10px;
    }
    &.alt {
      flex-direction: column;
      .poster {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
